@import "../../pages/Dashboard/Dashboard.scss";

.map {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.markerImg {
    margin: auto;
    max-width: 40%;
    height: auto;
}
